.dashboard {
  display: flex;
  min-height: 100vh; /* Set the minimum height of the dashboard to the full viewport height */
}

.sidebar {
  width: 200px;
  background:
    linear-gradient(#05377f, transparent),
    linear-gradient(to top left, #3886f7, transparent),
    linear-gradient(to top right, #8ca4fc, transparent);
  background-blend-mode: screen;
  padding: 20px;
}


.sidebar-button {

  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 10px;
  background-color: white;
  color: black;
  font-size: 20px;
  text-align: left;
  cursor: pointer;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  transition: background-color 0.3s ease; /* Add transition for smooth effect */
}

  /* Hover effect */
.sidebar-button:hover {
  background-color: #c0c0c0;
  box-shadow: 0 0 5px white, 0 0 25px white, 0 0 25px white, 0 0 100px black;

}  



.content {
  flex: 1;
  padding: 20px;
    background:
      linear-gradient(white, transparent),
      linear-gradient(to top left, #FFFAFA, transparent),
      linear-gradient(to top right, white, transparent);
    background-blend-mode: screen;
  }

.pie-chart-div {
  height: 400px !important;
  width: 600px !important;
  text-align: center;
  margin: 0 auto 70px;
}
.pie-chart-div h1 {
  margin: 1rem 0;
}
.pie-chart-div .pie-chart-2 {
  height: 100%;
  width: 100%;
}


/* for button hover */
button{
  position: relative;
  border: none;
  transition: 4s ease-in;
  z-index: 1;
}
button::before,
button::after{
  position: absolute;
  content: " ";
  z-index: -1;
}

.plaid-button {
  background:
    linear-gradient(#05377f, transparent),
    linear-gradient(to top left, #3886f7, transparent),
    linear-gradient(to top right, #8ca4fc, transparent);
  background-blend-mode: screen;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.plaid-button:hover {
  background-color: darkblue;
  box-shadow: 0 0 5px white, 0 0 25px white, 0 0 25px white, 0 0 100px #3886f7;

}

/* .content{
  background:
    linear-gradient(#05377f, transparent),
    linear-gradient(to top left, #3886f7, transparent),
    linear-gradient(to top right, #8ca4fc, transparent);
  background-blend-mode: screen;
} */