body {
  /* background-color: rgb(71, 132, 237); */
  /* background-color: #131316; */
}



.dashboard {
  display: flex;
  min-height: 100vh; /* Set the minimum height of the dashboard to the full viewport height */
}

/* .sidebar {
  width: 230px;
  background: linear-gradient(#008000, transparent),
    linear-gradient(to top left, black, transparent),
    linear-gradient(to top right, #006400, transparent);
  background-blend-mode: screen;
  padding: 20px;
}*/

.sidebar-button {
  display: block;
  width: 80%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 10px;
  background-color: white;
  color: black;
  font-size: 20px;
  text-align: left;
  cursor: pointer;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  transition: background-color 0.3s ease;
  /* Add transition for smooth effect */
}

/* Hover effect */
.sidebar-button:hover {
  background-color: #32cd32;
  box-shadow: 0 0 5px white, 0 0 25px white, 0 0 25px white, 0 0 100px #006400;
}
.content {
  flex: 1;
  padding: 0 20px 20px;
  background: linear-gradient(white, transparent),
    linear-gradient(to top left, #fffafa, transparent),
    linear-gradient(to top right, white, transparent);
  background-blend-mode: screen;
  padding: 0 20px 50px !important;
}

.pie-chart-div {
  height: 400px !important;
  width: 600px !important;
  text-align: center;
  margin: 0 0 50px;
}
.pie-chart-div h1 {
  margin: 1rem 0;
}
.pie-chart-div .pie-chart-2 {
  height: 100%;
  width: 100%;
  text-align: left;
}
/* filter arrows in expense-view */
.filter-arrows {
  cursor: pointer !important;
  transition: color 0.5s ease-in !important;
}
.filter-arrows:hover {
  color: #05377f;
}

/* for button hover */
button {
  position: relative;
  border: none;
  transition: 4s ease-in;
  z-index: 1;
}
button::before,
button::after {
  position: absolute;
  content: " ";
  z-index: -1;
}

.plaid-button {
  /* background: linear-gradient(grey, transparent),
    linear-gradient(to top left, #2e8b57, transparent),
    linear-gradient(to top right, #006400, transparent);
  background-blend-mode: screen; */
  background-color: #006400;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: azure;
}

.plaid-button:hover {
  background-color: white;
  color: black;
  box-shadow: 0 0 5px white, 0 0 25px white, 0 0 25px white, 0 0 100px #006400;
}

 

/* .content{
  background:
    linear-gradient(#05377f, transparent),
    linear-gradient(to top left, #3886f7, transparent),
    linear-gradient(to top right, #8ca4fc, transparent);
  background-blend-mode: screen;
} */

/* .content{
  background:
    linear-gradient(#05377f, transparent),
    linear-gradient(to top left, #3886f7, transparent),
    linear-gradient(to top right, #8ca4fc, transparent);
  background-blend-mode: screen;
} */
.example-enter {
  opacity: 0;
  transform: translateY(20px);
}

.example-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 500ms;
}

.example-exit {
  opacity: 1;
  transform: translateY(0);
}

.example-exit-active {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 300ms, transform 300ms;
}


.card {
  background-color: white;
  padding: 10px 20px 11px;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #afafaf;

box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
}
.pay-button{
  padding: 0.7rem 2rem;
  width: 100%;
  margin: 1rem 0;
  color: white;
  font-weight: bold;
  font-size: medium;
  background-color: #556cd6;
  border: 0;
  border-radius: 5px;
  box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
  transition: box-shadow 500ms;
  cursor: pointer;
}
.pay-button:disabled{
  background-color: #afafaf;
  box-shadow: none;
  cursor: default;
}
.pay-button:disabled:hover{
  box-shadow: none;
}
.pay-button:hover{
  box-shadow: 2px 5px 15px 2px rgba(0, 0, 0, 0.2);
}
/* Add these styles to your CSS file or component styles */

/* Main Container */
.sidebar-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 220px; /* Adjust the width as needed */
  background-color: #2d6a4f; /* Change the background color as needed */
  color: #fff;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  z-index: 100;
  padding-top: 40px;
}

@media (max-width: 768px) {
  .sidebar-container {
    width: "180px";
  }
}
/* Header */
.sidebar-header {
  display: flex;
  align-items: center;
  padding: 10px;
}

.sidebar-logo {
  font-size: 28px;
  margin-right: 12px;
}

.sidebar-title {
  font-size: 24px;
}

/* Navigation Items */
.sidebar-navigation {
  padding-top: 24px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.navigation-item {
  padding: 10px;
}

.navigation-icon {
  font-size: 24px;
  margin-right: 10px;
}

.navigation-button {
  background-color: transparent;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  transition: opacity 0.3s;
  display: flex;
  align-items: center;
}

.navigation-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
  opacity: 0.8;
}

/* Toggle Button */
.sidebar-toggle {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}


.toggle-icon {
  font-size: 32px;
}

/* Logout Button */
.logout-container {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
}

.logout-icon {
  font-size: 24px;
  margin-right: 10px;
}

.logout-button {
  background-color: transparent;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  transition: opacity 0.3s;
}

.logout-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
  opacity: 0.8;
}

/* Styling for the collapsed state */
.collapsed {
  width: 80px;
}

.collapsed .sidebar-title {
  display: none;
}

.collapsed .navigation-button {
  display: none;
}

.collapsed .sidebar-toggle {
  justify-content: flex-start;
}

.collapsed .logout-container {
  justify-content: flex-start;
}

.collapsed .toggle-icon {
  transform: rotate(180deg);
}

