body {
  /* background-color: rgb(71, 132, 237); */
}
.dashboard {
  display: flex;
  min-height: 100vh; /* Set the minimum height of the dashboard to the full viewport height */
}

/* .sidebar {
  width: 230px;
  background: linear-gradient(#008000, transparent),
    linear-gradient(to top left, black, transparent),
    linear-gradient(to top right, #006400, transparent);
  background-blend-mode: screen;
  padding: 20px;
}*/

.sidebar-button {
  display: block;
  width: 80%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 10px;
  background-color: white;
  color: black;
  font-size: 20px;
  text-align: left;
  cursor: pointer;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  transition: background-color 0.3s ease; 
  /* Add transition for smooth effect */
}

/* Hover effect */
.sidebar-button:hover {
  background-color: #32cd32;
  box-shadow: 0 0 5px white, 0 0 25px white, 0 0 25px white, 0 0 100px #006400;
} */

.content {
  flex: 1;
  padding: 0 20px 20px;
  background: linear-gradient(white, transparent),
    linear-gradient(to top left, #fffafa, transparent),
    linear-gradient(to top right, white, transparent);
  background-blend-mode: screen;
}

.pie-chart-div {
  height: 400px !important;
  width: 600px !important;
  text-align: center;
  margin: 0 0 50px;
}
.pie-chart-div h1 {
  margin: 1rem 0;
}
.pie-chart-div .pie-chart-2 {
  height: 100%;
  width: 100%;
  text-align: left;
}
/* filter arrows in expense-view */
.filter-arrows {
  cursor: pointer !important;
  transition: color 0.5s ease-in !important;
}
.filter-arrows:hover {
  color: #05377f;
}

/* for button hover */
button {
  position: relative;
  border: none;
  transition: 4s ease-in;
  z-index: 1;
}
button::before,
button::after {
  position: absolute;
  content: " ";
  z-index: -1;
}

.plaid-button {
  /* background: linear-gradient(grey, transparent),
    linear-gradient(to top left, #2e8b57, transparent),
    linear-gradient(to top right, #006400, transparent);
  background-blend-mode: screen; */
  background-color: #006400;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: azure;
}

.plaid-button:hover {
  background-color: #7cfc00;
  box-shadow: 0 0 5px white, 0 0 25px white, 0 0 25px white, 0 0 100px #006400;
}

/* .content{
  background:
    linear-gradient(#05377f, transparent),
    linear-gradient(to top left, #3886f7, transparent),
    linear-gradient(to top right, #8ca4fc, transparent);
  background-blend-mode: screen;
} */

/* .content{
  background:
    linear-gradient(#05377f, transparent),
    linear-gradient(to top left, #3886f7, transparent),
    linear-gradient(to top right, #8ca4fc, transparent);
  background-blend-mode: screen;
} */
.example-enter {
  opacity: 0;
  transform: translateY(20px);
}

.example-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 500ms;
}

.example-exit {
  opacity: 1;
  transform: translateY(0);
}

.example-exit-active {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 300ms, transform 300ms;
}
